
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* button styles */

.button-1{
  background-color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 17px 24px;
  border-radius: 8px;
}


/* Nav styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px;
}

.nav-title{
  font-weight: 800;
  font-size: 28px;
  color: #0D1321;
}

/* banner styles */

.programmer{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 26px;
  width: 240.28px;
  height: 240px;
}
.banner{
background-image: url(../assets/Hero-bg.png);
background-position: center;
background-repeat: no-repeat;
}

.banner-title{
  font-size: 48px;
  text-align: center;
  font-weight: 800;
  color: #0D1321;
}

.banner-description{
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  color: #0D1321;
}

.btn-2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #0D1321;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  padding: 21px 24px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  border-color: none;
}

/* Main Section styles*/

/* why web development section styles */
.whywebdevelopment{
  padding: 80px 97px;
  margin: 152px;
}

/* My Ispiration Sections Styles */
.myinspiration{
  margin: 152px;
}

/* My Current Target Sections Styles */
.mycurrenttarget{
  margin: 150px;
}

/* I need Support Section Styles */
.ineedsupport{
  margin: 150px;
}

/* Footer Styles */
.footer{
  margin: 150px;
}